body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(img/bg.webp);
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.header ul li {
    display: inline;
    margin-right: 5px;
}

.header a {
    text-decoration: none;
    color: brown;
    padding: 3px;
}

.header a:hover {
    color: royalblue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero {
    height: 280px;
    background-image: url(img/gpt.jpg);
    background-size: cover;
    background-position: 0 -60px;
    border-top: 5px solid salmon;

}

.hero2 {
    height: 250px;
    background-image: url(img/gpt2.jpg);
    background-size: cover;
    background-position: 0 -60px;

}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content p {
    margin-bottom: 20px;
    font-size: 16px;
}

.content .penulis a {
    text-decoration: none;
}

.footer {
    background-color: #333;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 16px;
    padding: 15px;
}